{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{#title|striptags|upper}Nette Application Skeleton{/#}</title>

	<link rel="stylesheet" media="all" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="{$basePath}/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <script src="{$basePath}/js/netteForms.js"></script>
	{#head}{/#}
</head>

<body>
	<script> document.body.className+=' js' </script>
    <div class="container-narrow">

        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <h3 class="muted">SmartSubjectRegistry</h3>
        </div>

        <hr>

	{control flashMessage}

	{include #content}

	</div>
	{#scripts}{/#}
</body>
</html>
