{#scripts}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script>
    $(document).ready(function () {

        $( "#frm-searchForm-name" ).autocomplete({
            minLength: 0,
            source: function (req, add) {
				var url = '/ares/geteway/' + encodeURIComponent(req.term) + '?';

				console.log(url);

				$.getJSON(url, function (data) {
					//if(data && data.source)
						add(data.source);

					console.log(data);
                });

			},
            focus: function( event, ui ) {
                $( "#frm-searchForm-name" ).val( ui.item.company );
                return false;
            },
            select: function( event, ui ) {
                $( "#frm-searchForm-name" ).val( ui.item.company );
                $( "#frm-searchForm-id" ).val( ui.item.in );

                return false;
            }
        })
                .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a>" + item.in + "<br>" + item.company + "</a>" )
                    .appendTo( ul );
        };
    });
</script>
{/#}

{#content}

<h3>Vyhledávání v Ares systému</h3>

	{control searchForm}