{#content}

	{if $data and count($data)}

	<h3>Výsledky vyhledávání</h3>
    <table class="table table-striped">
        {*<thead>*}
        {*<tr>*}
            {*<th>Name</th>*}
            {*<th>Value</th>*}
        {*</tr>*}
        {*</thead>*}
		<tbody>

			{if isset($data->company)}
            <tr>
                <td>Název</td>
                <td>{$data->company}</td>
            </tr>
			{/if}

			{if isset($data->in)}
            <tr>
                <td>IČ</td>
                <td>{$data->in}</td>
            </tr>
			{/if}

			{if isset($data->created)}
            <tr>
                <td>Datum založení</td>
                <td>{$data->created|date:'%d.%m.%Y'}</td>
            </tr>
			{/if}

			{if isset($data->person)}
				<tr>
					<td>Fyzická osoba</td>
					<td>{if $data->person}ANO{else}NE{/if}</td>
				</tr>
			{/if}

			{if isset($data->active)}
            <tr>
                <td>Platný záznam</td>
                <td>{if $data->active}ANO{else}NE{/if}</td>
            </tr>
			{/if}

        </tbody>
    </table>
	<small>* Pokud některý z požadovaných záznamů není zobrazen, znamená to, že <a href="http://wwwinfo.mfcr.cz/ares/ares.html.cz">Ares</a> systém položku neuvádí.</small>
	{else}
		{dump $data}
		<span class="label label-important">Neplatné vyhledávání</span>
		<br />
		<br />
		<strong>Zkuste to prosím <a n:href="default">znovu</a></strong>
	{/if}